{{#unless session.isAuthenticated}}
	<div id="login" class="login">
		<div class="ui text container center aligned">
			<h2 class="ui header">Sign-in</h2>
		</div>
		<div class="ui text container">
			<div class="ui two column stackable grid">
				<div class="column">
					<button class="ui facebook button fluid" {{action 'signIn' 'facebook'}}>
						<i class="facebook icon"></i>
						Facebook
					</button>
				</div>
				<div class="column">
					<button class="ui twitter button fluid" {{action 'signIn' 'twitter'}}>
						<i class="twitter icon"></i>
						Twitter
					</button>
				</div>
			</div>
			<div class="ui centered aligned grid">
				<div class="column">
					<div class="ui horizontal divider">OR</div>
				</div>
			</div>
			<div class="ui center aligned stackable grid">
				<div class="column login-panel">
					<form class="ui large form" {{action "formLogin" on="submit"}}>
						<div class="ui tall stackable segment">
							<div class="field">
								{{input type="text" value=userEmail placeholder="Email"}}
							</div>
							<div class="field">
								{{input type="password" value=userPassword placeholder="Password"}}
							</div>
							{{#if session.isWorking}}
								<button class="ui fluid large blue loading button">Loading</button>
							{{else}}
								<button type="submit" class="ui fluid large blue submit button">Login</button>
							{{/if}}
						</div>
					</form>
					<p>
						{{#if error.length}}
							{{error.message}} 
						{{/if}}
					</p>
				</div>
			</div>	
		</div>
	</div>
{{/unless}}

{{#if session.isAuthenticated}}
 {{!-- Menu for mobile slideout --}}
	<div class="ui bottom attached segment">
		<div class="ui visible inverted left vertical sidebar menu">
			<a href="#" class="item">
				<i class="home icon"></i>
				Home
			</a>
			<a href="#" class="item" {{action "signOut"}}>
				<i class="sign out icon"></i>
				Sign Out
			</a>
		</div>
		<div class="pusher">
			<div class="ui basic segment">
				<h3 class="ui header">Application Content</h3>
				{{outlet}}
			</div>
		</div>
	</div>
{{/if}}
